extends layout

block content
  h1 Register 
  form(method='POST' action='/register')
    fieldset
        label(for='username') pser-name
        input#username(type='text' name='username')
    fieldset
        label(for='password') password
        input#password(type='password' name='password')
    input(type='submit' value='Register')
